@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lange Straße 120<br />
    70191 Stuttgart<br />
    Deutschland<br />
    <abbr title="Phone">T:</abbr>
    49.711.15.5000
</address>

<address>
    <strong>Systemsupport:</strong>   <a href="mailto:Support@companyname.com">Support@companyname.com</a><br />
    <strong>Fahrzeuginformationen:</strong> <a href="mailto:Fahrzeugverwaltung@companyname.com">Fahrzeugverwaltung@companyname.com</a>
</address>